<div class="web">
    <div class="uk-text-center" uk-grid>
        <div class="uk-width-1-4 uk-position-fixed container-data-menu">
            <div class="container-store">
                <img class="size-logo-data-menu" src="./assets/images/Logo-Tienda-724-sin-slogan.png" alt="">
                <div style="padding-right: 20px; padding-left: 20px;">
                    <div class="uk-margin">
                        <div uk-form-custom="target: > * > span:first-child">
                            <select (change)="capturar()" [(ngModel)]="selectedStore">
                                    <option [value]=-1>Seleccionar Tienda</option>
                                  <option *ngFor="let item of storeList" [value]="item.id_STORE"> {{item.store_NAME}} </option>
                                </select>
                            <button class="button-select-menu" type="button" tabindex="-1">
                                  <span></span>
                                  <span uk-icon="icon: chevron-down" style="width: 15px; margin-left: 10px;"></span>
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-user-menu">
                <h5 class="uk-margin-remove uk-text-bold" style="padding-bottom: 5px;"> {{clientName}} </h5>
                <div class="uk-flex uk-flex-middle uk-flex-around padding-vertical-10">
                    <div style="margin-left: 20px;">
                        <i class="fas fa-user-friends color-red"></i>
                    </div>
                    <div class="uk-text-left">
                        <h6 class="uk-margin-remove uk-text-bold uk-text-muted">Sus roles son:</h6>
                        <h6 class="uk-margin-remove font-size-13 uk-text-muted" style="width: 150px;">{{getRolString()}}</h6>
                    </div>
                </div>
                <div class="uk-flex uk-flex-middle uk-flex-around">
                    <div style="margin-left: 18px;">
                        <i class="fas fa-id-card-alt color-red"></i>
                    </div>
                    <div>
                        <div class="uk-text-left">
                            <h6 class="uk-margin-remove uk-text-bold uk-text-muted">Sus documentos son:</h6>
                        </div>
                        <div class="uk-flex uk-flex-middle" style="width: 150px;">
                            <h6 class="uk-margin-remove font-size-13 uk-text-muted"> {{docType}}:</h6>
                            <h6 class="uk-margin-remove font-size-13 uk-text-muted"> {{doc}} </h6>
                        </div>
                        <div class="uk-flex uk-flex-middle" style="width: 150px;">
                            <h6 class="uk-margin-remove font-size-13 uk-text-muted">Id de usuario:</h6>
                            <h6 class="uk-margin-remove font-size-13 uk-text-muted"> {{username}} </h6>
                        </div>
                    </div>
                </div>
                <div class="uk-flex uk-flex-center padding-vertical-15">
                    <div class="uk-flex uk-flex-middle">
                        <i class="fas fa-sign-in-alt font-size-20 color-red" style="padding-right: 10px;"></i>
                        <h5 class="uk-margin-remove uk-text-bold font-size-14 cursor-pointer" (click)="logOut()">Cerrar Sesión</h5>
                    </div>
                </div>
            </div>
            <div>
                <button class="button-close-panel">Cerrar Panel</button>
            </div>
        </div>
        <div class="uk-width-3-4 margin-grid">
            <div class="uk-child-width-1-3 uk-grid-small uk-text-center uk-flex uk-flex-around" uk-grid>
                <div *ngFor="let item of menuList" (click)="goToRoute(item.ruta)">
                    <div class="uk-card uk-card-default uk-card-body cursor-pointer card-menu" *ngIf="item.ruta==='adminrestaurant'">
                        <img class="size-icons" src="./assets/icons/Ventas.png" alt="">
                        <h5 class="uk-margin-remove text-card">{{item.nombre}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile">
    <div>
        <div class=" uk-flex uk-flex-middle uk-flex-between navbar-menu">
            <h3 style="padding:5%">{{getStoreName()}}</h3>
            <img class="size-icon-user" src="./assets/icons/icono-de-usuario.png" href="#modal-full" alt="" uk-toggle>
        </div>
        <div id="modal-full" class="uk-modal-full" uk-modal>
            <div style="background-color: #dbdbdb; height: 100%; z-index: 200 !important; position: relative;">
                <button class="uk-modal-close-full uk-close-large" type="button" style="background-color: #ffffff00; color: rgb(0, 0, 0);" uk-close></button>
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                    <div class="uk-padding-large">
                        <div class="container-store-mobile">
                            <img class="size-logostore-user uk-align-center" [src]='imgurl' onError="this.src='./assets/images/Logo-Tienda-724-sin-slogan.png'"  alt="">
                            <!-- <img class="size-logostore-user uk-align-center" src="./assets/images/Logo-Tienda-724-sin-slogan.png" alt=""> -->
                            <div style="padding-left: 30px; padding-right: 20px; padding-bottom: 10px;">
                                <div class="uk-margin-remove uk-flex uk-flex-center" style="margin-left: 10px;">
                                    <div uk-form-custom="target: > * > span:first-child">
                                        <select (change)="capturar()" [(ngModel)]="selectedStore">
                                            <option [value]=-1>Seleccionar Tienda</option>
                                            <option *ngFor="let item of storeList" [value]="item.id_STORE"> {{item.store_NAME}} </option>
                                      </select>
                                        <button class="button-select-menu-mobile" type="button" tabindex="-1">
                                          <span></span>
                                          <span uk-icon="icon: chevron-down" style="width: 13px !important; margin-left: 10px;"></span>
                                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-user-menu-mobile">
                            <h5 class="uk-margin-remove uk-text-bold uk-text-center" style="padding-bottom: 10px; padding-top: 15px; font-size: 90%;"> {{clientName}} </h5>
                            <div class="uk-flex uk-flex-middle uk-flex-around padding-vertical-10">
                                <div style="margin-left: 20px;">
                                    <i class="fas fa-user-friends color-red"></i>
                                </div>
                                <div class="uk-text-left">
                                    <h6 class="uk-margin-remove uk-text-bold uk-text-muted font-size-95">Sus roles son:</h6>
                                    <h6 class="uk-margin-remove uk-text-muted font-size-90" style="width: 160px;"> {{getRolString()}} </h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-around">
                                <div style="margin-left: 18px;">
                                    <i class="fas fa-id-card-alt color-red"></i>
                                </div>
                                <div>
                                    <div class="uk-text-left">
                                        <h6 class="uk-margin-remove uk-text-bold uk-text-muted font-size-95">Sus documentos son:</h6>
                                    </div>
                                    <div class="uk-flex uk-flex-middle" style="width: 160px;">
                                        <h6 class="uk-margin-remove uk-text-muted font-size-90"> {{docType}}:</h6>
                                        <h6 class="uk-margin-remove uk-text-muted font-size-90"> {{doc}} </h6>
                                    </div>
                                    <div class="uk-flex uk-flex-middle" style="width: 160px;">
                                        <h6 class="uk-margin-remove uk-text-muted font-size-90">Id de usuario:</h6>
                                        <h6 class="uk-margin-remove uk-text-muted font-size-90"> {{username}} </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-center">
                                <div class="uk-flex uk-flex-middle padding-vertical-15-10 uk-modal-close">
                                    <i class="fas fa-sign-in-alt font-size-20 color-red" style="padding-right: 10px;"></i>
                                    <h5 class="uk-margin-remove uk-text-bold font-size-16 uk-modal-close" (click)="logOut()">Cerrar Sesión</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-grid-mobile">
        <div *ngFor=" let item of menuList " (click)="goToRoute(item.ruta)">
            <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body card-icons " *ngIf="item.ruta==='adminrestaurant' ">
                        <img class="size-icons-mobile " src="./assets/icons/Ventas.png " alt=" ">
                        <h5 class="uk-margin-remove text-card-mobile "> {{item.nombre}} </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="footer-button ">
        <button class="button-close-panel-mobile ">Cerrar Panel</button>
    </div> -->
</div>
